

/************************************style********************/
@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono");


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: 'Space Mono';
  src: url("C:/Users/dell/Desktop/Programmation web/Site Prog Web/include/Space_Mono/SpaceMono-Regular.ttf") format('woff2');
  font-display: swap; 
}

html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
   
  }
  
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    
    
    
	background: linear-gradient(to bottom, #5d326c, #350048); /*fiolet*/



}



header{
    width: 100%;
    height: 450px;
    background-color:#F5F5F5; 
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    font-family: "Roboto", sans-serif;
}




nav {

    
    width: 80%;
    height: 90px;
    background-color: white;
    display: flex;
    flex-direction: line;
    align-self: center;
    margin-top: 30px;
    justify-content: space-between;
    position: fixed;
    order: 2;
  }
  nav div {
    align-self: center;
  
  }

  nav div:nth-child(1){
    width: 5%;
    height: 70%;
    justify-content: center;
    background-color:black;
    margin-left: 20px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
  }
  nav div:nth-child(2){
    width: 60%;
    height: 60%;
  margin-right: 30%;
    background-color:white;
    font-weight: bolder;
    font-size: 30px;
  
  }
  
  .texteHeader {

    width: 80%;
    height: 50%;
    
    position: relative;
    top:20%;
    align-self: center;
    order:3;
    margin-top:20px ;
    
 
    
   

  }
  
 
  .container2 {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
  }
  
  .carousel__face span {
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  font-weight: bold;
  color: white; /* Couleur du texte */
   

  }
  
  
  .carousel__face:nth-child(1) {
     transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
   transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  


  


  
  
main{
  margin-top: 50px;
    display: flex;
    flex-direction: line;
    width: 100%;
    height:auto;
    

}
main aside{
    
    width: 20%;
    height: 98%;
    background-color:whitesmoke;  
    
}
h1{
  color: white;
  font-weight: bolder;
 margin-left: 20%;
}
.mainDiv{
    width: 60%;
    height: auto;
    background-color: black;
.mainDiv h1{
  color: white;

}

}


section {
  max-width: var(--sectionWidth);
  margin: 40px auto;
  width: 97%;
  color: #fff;
}

summary {
  display: block;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  border-bottom: 2px solid;
  user-select: none;
}

details > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  user-select: none;
  padding: 0 20px;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

details > div > img {
  align-self: flex-start;
  max-width: 100%;
  margin-top: 20px;
  object-fit:cover ;
  
}

details > div > p {
  flex: 1;
}

details[open] > summary {
   color: red;
}

@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin: 0;
    padding-left: 20px;
  }

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  details[open] > div > img {
    opacity: 0;
    height: 100%;
    margin: 0;
    animation-name: showImage;
    animation-duration: 0.3s;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
    object-fit:cover ;
  }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    clip-path: inset(50% 0 50% 0);
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


footer{
    width:100% ;
    height: 100px;
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 50px;
    margin-top: 60px;
    
}
footer p{
  text-align: center;
  font-size:40px;
  font-weight:bolder;}
